/* PopupMenu */
.asusctl-gex-panel-button .asusctl-gex-panel-layout{
    padding: 0 5px;
}
.asusctl-gex-panel-button .asusctl-gex-panel-icon{
    width: 20px;
    height: 20px;
    padding: 0 5px;
}
.asusctl-gex-panel-button .panel-bin-profile{
    height: 28px;
    width: 38px;
}

.asusctl-gex-menu-item.headline {
    margin-bottom: 10px;
}
.asusctl-gex-menu-item.headline-label {
    font-weight: bold;
}

.asusctl-gex-menu-item .popup-menu-icon{
    padding-right: 5px;
}
.asusctl-gex-menu-item.fan-mode .popup-menu-icon svg{
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
}